<div class="container mt-4">
  <h3 class="mb-3 fw-bold">Watch list</h3>
  @if((wishlistItems | async)?.length === 0){
  <div class="col-12">
    <div class="text-center py-5">
      <svg
        width="212"
        height="212"
        viewBox="0 0 212 212"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M204.253 73.2113C204.253 84.9256 202.382 95.7544 199.134 105.795C183.58 155.015 135.64 184.449 111.916 192.521C108.569 193.702 103.056 193.702 99.7094 192.521C93.4092 190.355 85.4351 186.713 76.8708 181.594C71.3582 178.346 70.4722 170.667 75.0004 166.139L186.041 55.0983C191.357 49.7826 200.709 52.0467 202.579 59.3312C203.662 63.761 204.253 68.3877 204.253 73.2113Z"
          fill="#D1D1D1"
        />
        <path
          d="M209.456 2.14107C206.601 -0.71369 201.876 -0.71369 199.021 2.14107L175.987 25.176C168.21 20.7462 159.153 18.1868 149.506 18.1868C131.689 18.1868 115.741 26.8495 105.799 40.1389C95.8564 26.8495 79.9086 18.1868 62.091 18.1868C31.8699 18.1868 7.35839 42.7968 7.35839 73.2147C7.35839 84.9291 9.22874 95.7574 12.4773 105.798C18.8759 126.175 30.8855 143.205 44.4703 156.692L2.14107 199.021C-0.71369 201.876 -0.71369 206.601 2.14107 209.456C3.61767 210.932 5.48803 211.621 7.35839 211.621C9.22874 211.621 11.0991 210.932 12.5757 209.456L209.456 12.5757C212.311 9.72094 212.311 4.99583 209.456 2.14107Z"
          fill="#D1D1D1"
        />
      </svg>

      <h4 class="py-4">No Movies in watch list</h4>
      <p class="text-muted">Start adding movies to your watchlist!</p>
      <button class="btn" type="button" style="background-color: #ffe354">
        <a class="nav-link pointer" routerLink="/movies">Back to home</a>
      </button>
    </div>
  </div>
  } @if(wishlistItems | async; as movies){
  <div class="row g-4">
    @for (movie of movies; track movie.id) {
    <div class="col-md-6">
      <div class="card p-3 shadow-sm">
        <div class="row">
          <div class="col-md-4 position-relative">
            <div class="poster-container">
              <img
                [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
                [alt]="movie.title"
                class="img-fluid"
              />
              <a
              class="text-decoration-none"
              style="color: inherit"
              [routerLink]="['/movie', movie.id]"
            >
              <div class="eye-overlay pointer">
                <svg
                  width="34"
                  height="34"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                  <circle cx="12" cy="12" r="3"></circle>
                </svg>
              </div>
              </a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="d-flex justify-content-between align-items-center mt-2">
              <h2 class="fw-bold">{{ movie.original_title }}</h2>
              <i
                class="fa-solid fa-heart fa-2xl pointer"
                style="color: #ffe354"
                (click)="removeFromWishlist(movie.id)"
              ></i>
            </div>
            <p class="text-muted">{{ movie.release_date | date }}</p>
            <div class="d-flex align-items-center mb-3">
              <div class="me-4 d-flex gap-1">
                @for(star of [1,2,3,4,5]; track $index){
                  @if((movie.vote_average / 2) >= star){
                    <i class="fa-solid fa-star fa-lg" style="color: #f4d84f"></i>
                  }
                  @if((movie.vote_average / 2) < star && (movie.vote_average / 2) >= (star - 0.5)){
                    <i class="fa-solid fa-star-half-stroke fa-lg" style="color: #f4d84f"></i>
                  }
                  @if((movie.vote_average / 2) < (star - 0.5)){
                    <i class="fa-regular fa-star fa-lg" style="color: #f4d84f"></i>
                  }
                }
              </div>

              <span>{{ movie.vote_count }}</span>
            </div>
            <p>
              {{ movie.overview.split(" ").slice(0, 30).join(" ") + "..." }}
            </p>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  }
</div>
