.badge {
  font-size: 0.7rem;
  position: relative;
  top: -2px;
}
.img-responsive {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.active a,
.active button {
  color: #000 !important;
}
.navbar a .navbar button {
  color: #000;
  font-size: 17px;
}
.img_color {
  filter: invert(100%);
}
.active_link {
  font-weight: bold;
  color: #ffe354;
}
