.pricing-header {
    background: linear-gradient(to right, #141e30, #243b55);
    /* or use a movie-themed image */
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.header-underline {
    width: 100px;
    height: 4px;
    background-color: #00bcd4;
    border-radius: 5px;
    border: none;
}