<div class="container my-5">
  <div class="d-flex mb-2">
    <input
      class="form-control text-black-50"
      placeholder="Search and explore...."
      [(ngModel)]="searchKey"
    />
    <button class="btn btn-warning mx-3" [routerLink]="['/search', searchKey]">
      Search
    </button>
  </div>

  <section>
    Search Results for : <strong>{{ searchKey }}</strong>
  </section>
</div>

<div class="container">
  <div class="row mt-5 w-100">
    @if(movies.length > 0){ @for (movie of movies; track $index) {
    <div class="col-md-2">
      <div class="card h-100" style="border: none">
        <a
          class="text-decoration-none"
          style="color: inherit"
          [routerLink]="['/movie', movie.id]"
        >
          <div class="position-relative">
            <img
              [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
              class="card-img-top pointer rounded"
              [alt]="movie.title"
            />

            <div class="circle-wrapper">
              <svg
                class="CircularProgressbar"
                viewBox="0 0 100 100"
                data-test-id="CircularProgressbar"
              >
                <path
                  class="CircularProgressbar-trail"
                  d="
                                      M 50,50
                                      m 0,-46
                                      a 46,46 0 1 1 0,92
                                      a 46,46 0 1 1 0,-92
                                    "
                  stroke-width="8"
                  fill-opacity="0"
                  style="stroke-dasharray: 430px, 430px; stroke-dashoffset: 0px"
                ></path>
                <path
                  [ngStyle]="{ stroke: getBackgroundColor(movie.vote_average) }"
                  class="CircularProgressbar-path"
                  d="
                                      M 50,50
                                      m 0,-46
                                      a 46,46 0 1 1 0,92
                                      a 46,46 0 1 1 0,-92
                                    "
                  stroke-width="8"
                  fill-opacity="0"
                  [ngStyle]="{
                    'stroke-dasharray':
                      (movie.vote_average / 10) * 430 + 'px, 450px',
                    'stroke-dashoffset': '98.269px',
                    stroke: movie.vote_average > 7 ? '#66BB6A' : 'yellow'
                  }"
                ></path>
                <text
                  class="CircularProgressbar-text"
                  x="25"
                  y="58"
                  style="font-size: 30px"
                >
                  {{ movie.vote_average | number : "1.2-2" }}
                </text>
              </svg>
            </div>
          </div>
        </a>
        <div class="card-body d-flex justify-content-between">
          <div>
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-title text-black-50">
              {{ movie.release_date }}
            </p>
          </div>
          <div>
            <i
              class="fa-heart fa-xl mt-5 pointer"
              [class.fa-regular]="!isInWishlist(movie.id)"
              [class.fa-solid]="isInWishlist(movie.id)"
              [style.color]="isInWishlist(movie.id) ? '#ffd700' : 'black'"
              (click)="toggleWishlist(movie, $event)"
            ></i>
          </div>
        </div>
      </div>
    </div>
    } }@else {
    <h2>There are no movies with this name.</h2>
    }
  </div>
</div>
